<%- layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div id="attractionsCarousel" class="carousel slide">
        <div class="carousel-inner">
          <% for (let i = 0; i < attraction.images.length; i++) { %>
            <div class="carousel-item <%= i === 0 ? "active" : "" %>">
              <img src="<%= attraction.images[i].url %>" crossorigin="anonymous" class="d-block w-100" alt="">
            </div>
            <% } %>
        </div>
        <% if (attraction.images.length > 1) { %>
        <button class="carousel-control-prev" type="button" data-bs-target="#attractionsCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#attractionsCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= attraction.name %></h5>
        <p class="card-text"><%= attraction.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-secondary-emphasis">Location: <i><%= attraction.location %></i></li>
      </ul>
      <div class="card-footer">
        Submitted by, <%= attraction.author.username %>
      </div>
      <div class="card-footer d-flex">
        <a href="/attractions" class="btn btn-info">Go Back</a>
        <% if (currentUser && attraction.author.equals(currentUser._id)) { %>
          <div class="ms-auto">
            <a href="/attractions/<%= attraction._id %>/edit" class="btn btn-warning">Edit Spot</a>
            <form action="/attractions/<%= attraction._id %>?_method=DELETE" method="POST" class="d-inline">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="map"></div>
    <% if (currentUser) { %>
    <h2>Leave a review</h2>
    <form
      action="/attractions/<%= attraction._id %>/reviews"
      method="POST"
      class="needs-validation mb-3"
      novalidate
    >
    <fieldset class="starability-basic">
      <legend></legend>
      <input type="radio" id="first-rate1" name="newReview[rating]" value="1" checked />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="newReview[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="newReview[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="newReview[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="newReview[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
      
      <div class="mb-3">
        <label for="body" class="form-label">Review</label>
        <textarea
          name="newReview[body]"
          id="body"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Add review</button>
    </form>
    <% } else { %>
      <h5>To leave a review, you must be signed in!</h5>
      <% } %>
      <hr>
      <h4>All Reviews:</h4>
      <% for (let review of attraction.reviews) {%>
      <div class="card mb-2">
        <div class="card-header d-flex">
          <h5 class="card-title d-inline mt-1 me-3"><%= review.author.username %></h5>
          <p class="m-0 starability-result" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
          </p> 
        </div>
        <div class="card-body">
          <p class="card-text"><%= review.body %></p>
          <% if (currentUser && review.author.equals(currentUser._id)) { %>
          <form class="d-inline ms-auto" action="/attractions/<%= attraction._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </ul>
  </div>
</div>

<script>
  const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>'
  const attraction = <%- JSON.stringify(attraction) %>
</script>
<script src="/javascripts/detailsMap.js"></script>