<%- layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <img
        src="<%= site.image %>"
        class="card-img-top img-fluid"
        alt="..."
        style="max-width: 636px"
      />
      <div class="card-body">
        <h5 class="card-title"><%= site.name %></h5>
        <p class="card-text"><%= site.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= site.location %></li>
        <li class="list-group-item p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6 d-grid p-0">
                <a href="/attractions" class="btn btn-info rounded-0"
                  >Go Back</a
                >
              </div>
              <div class="col-3 d-grid p-0">
                <a
                  href="/attractions/<%= site._id %>/edit"
                  class="btn btn-warning rounded-0"
                  >Edit Spot</a
                >
              </div>
              <div class="col-3 d-grid p-0">
                <form
                  action="/attractions/<%= site._id %>?_method=DELETE"
                  method="POST"
                  class="d-grid"
                >
                  <button class="btn btn-danger rounded-0">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
