<%- include("../partials/header") %>

<h1>Edit spot:</h1>

<form method="POST" action="/attractions/<%= site._id %>?_method=PUT">
  <div>
    <label for="newSiteName">Name: </label>
    <input
      type="text"
      id="newSiteName"
      name="newSite[name]"
      placeholder="Enter Site Name"
      value="<%= site.name %>"
    />
  </div>
  <div>
    <label for="newSiteDescription">Description: </label>
    <br />
    <textarea
      name="newSite[description]"
      id="newSiteDescription"
      placeholder="Enter details about the site here"
      cols="40"
      rows="3"
    >
<%= site.description %></textarea
    >
  </div>
  <div>
    <label for="newSiteLocation">City: </label>
    <input
      type="text"
      id="newSiteLocation"
      name="newSite[location]"
      placeholder="eg. Mumbai"
      value="<%= site.location %>"
    />
  </div>
  <button>Submit</button>
</form>

<a href="/attractions/<%= site._id %>">Cancel</a>

<%- include("../partials/footer") %>
