<%- layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Edit Details:</h1>

  <div class="col-6 offset-3">
    <form
      method="POST"
      action="/attractions/<%= attraction._id %>?_method=PUT"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="newAttractionName" class="form-label">Name</label>
        <input
          type="text"
          id="newAttractionName"
          name="newAttraction[name]"
          placeholder="Enter attraction Name"
          class="form-control"
          value="<%= attraction.name %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="newAttractionDescription" class="form-label"
          >Description</label
        >
        <br />
        <textarea
          name="newAttraction[description]"
          id="newAttractionDescription"
          placeholder="Enter details about the attraction here"
          class="form-control"
          rows="4"
          required
        >
<%= attraction.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="newAttractionLocation" class="form-label">City</label>
        <input
          type="text"
          id="newAttractionLocation"
          name="newAttraction[location]"
          placeholder="eg. Mumbai"
          class="form-control"
          value="<%= attraction.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Add Images</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="formFileMultiple"
          multiple
        />
      </div>
      <div class="mb-3">
        <% for (let i=0; i < attraction.images.length; i++) { %>
        <div class="form-check">
          <label for="image-<%= i %>" class="form-check-label">
            <img
              src="<%= attraction.images[i].thumbnail %>"
              class="img-thumbnail"
              alt=""
            />
          </label>
          <input
            type="checkbox"
            class="form-check-input"
            id="image-<%= i %>"
            name="deleteImages[]"
            value="<%= attraction.images[i].filename %>"
            style="margin-top: 6em; border-color: black"
            id=""
          />
        </div>
        <% } %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Attraction</button>
      </div>
    </form>
    <a href="/attractions/<%= attraction._id %>">Cancel</a>
  </div>
</div>
