<%- layout("layouts/boilerplate") %>

<h1 class="display-3 mb-5 text-center">All Attractions</h1>

<% for (let site of attractions) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-lg-4">
      <img src="<%= site.image %>" class="img-fluid" alt="" />
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title"><%= site.name %></h5>
        <p class="card-text"><%= site.description %></p>
        <p class="card-text">
          <small class="text-secondary"><%= site.location %></small>
        </p>
        <a href="/attractions/<%= site._id %>" class="btn btn-primary"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
